<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/Account.css" rel="stylesheet" />
    <link href="~/Content/LoginForm.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.glide.js"></script>
    <script src="~/js/SECIndexHeaderJavaScript.js"></script>
    <script src="~/js/MyIndexHeaderJavaScript.js"></script>
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/lightbox.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/presets/preset1.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/Content/sm-clean/sm-clean.css" rel="stylesheet" />
    <link href="~/Content/sm-simple/sm-core-css.css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
    <link href="~/css/loading/loading.css" rel="stylesheet" />
    @RenderSection("style", false)
</head>
<body>
    <div class="loader"></div>
    <a id="menu-toggle" style="background-color: rgba(117, 112, 109, 0.49);" href="#" class="btn-dark btn-lp toggle">
        <div class="fa">我的功能<span class="glyphicon glyphicon-arrow-down"></span></div>
    </a>
    <nav id="sidebar">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
                <i class="fa">
                    <img class="cancelicon" src="~/images/Navbar/cancel.png" />
                </i>
            </a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>你的專頁</a>
            </li>
            <li>
                @Html.ActionLink("餐廳管理", "Index", "Restaurant", new { Area = "Restaurant" }, null)
            </li>
            <li>
                @Html.ActionLink("開店資訊", "InformationRestaurant", "Restaurant", new { Area = "Restaurant" }, null)
            </li>
            <li>
                @Html.ActionLink("餐廳基本資料", "RestaurantProfile", "Account", new { Area = "Restaurant" }, null)
            </li>
            <li>
                @Html.ActionLink("餐廳消息", "RestaurantBoard", "RestaurantNews", new { Area = "Restaurant" }, null)
            </li>
            @*<li>
                @Html.ActionLink("我的錢包", "MemberWallet", "MemberArea", new { Area = "Member" }, null)
            </li>
            <li>
                @Html.ActionLink("我的最愛", "MyFavourite", "MemberArea", new { Area = "Member" }, null)
            </li>
            <li>
                @Html.ActionLink("餐廳部落格", "Index", "Blog", new { Area = "Member" }, null)
            </li>*@
            <li>
                @Html.ActionLink("登出", "AccountLogout", "Home")
            </li>
        </ul>
    </nav>

    <section style="margin-top:0px;" id="twitter" class="parallax">
        <div>
            <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="twitter-icon text-center">

                        </div>
                        <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                                    <p>Your Best Choice<a href="#"><span>Train to Food</span></a></p>
                                </div>
                                <div class="item">
                                    <p>外送訂餐最好的選擇<a href="#"><span>食速列車</span></a></p>
                                </div>
                                @*<div class="item">
                                        <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#twitter-->
    <header id="header">
        <div class="main-nav">
            <div class="container">
                <nav role="navigation">
                    <ul id="main-menu" class="sm sm-clean">
                        <li>
                            @Html.ActionLink("首頁", "Index", "Home", new { Area = "Restaurant" }, null)
                        </li>
                        <li>
                            <a href="#">尋找美食</a>
                            <ul>
                                <li><a href="#">本月人氣</a></li>
                                <li>
                                    <a href="#/">年度人氣</a>
                                  
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a style="cursor:pointer">遊走餐廳</a>
                            <ul>
                                <li>@Html.ActionLink("餐廳部落格", "Index", "Blog", new { Area = "" }, null)</li>
                                <li><a href="#">年度人氣</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">美食搜尋</a>
                        </li>
                        <li><a href="#">餐廳搜尋</a></li>                                    
                        <li>
                            <a href="#contact">聯絡我們</a>                          
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header><!--/#home-->

    @RenderBody()

    
    <footer id="footer">
        <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="container text-center">
                <div class="footer-logo">
                    <h3 style="color:white">與Food To Train互動</h3>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>@DateTime.Now.ToString("yyyy  年  MM  月  dd  日")</p>
                    </div>
                    <div class="col-sm-6">
                        &copy; FoodToTrain 已註冊，FoodToTrain版權所有 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/js/jquery.smartmenus.min.js"></script>
    <script src="~/js/SECIndexHeaderJavaScript.js"></script>
    <script src="~/js/jquery.inview.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/mousescroll.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/html5shiv.js"></script>

    <script src="~/js/AdvertisementVideo/AdvertisementVideo.js"></script>
    <script>
    $(window).load(function () {
        $(".loader").fadeOut(2000);
    })
    </script>
    <script>
        $(function () {
            //關掉sidebar
            $(".player").mb_YTPlayer();
            $("#menu-close").click(function (e) {
                e.preventDefault();
                $("#sidebar").toggleClass("active");
            });
            //開啟sidebar
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#sidebar").toggleClass("active");
            });




        });
    </script>



    @RenderSection("script", false)

</body>
</html>
