@model FoodDeliveryTemplete.Models.LoginView
@{
    ViewBag.Title = "LoginView";
    Layout = "~/Views/Account/_AccountPage.cshtml";
}

@section style
{
    <style>      
        .orangelogin {
            min-height: 30px;
            padding: 30px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        #loading {
            display: none;
        }

         .h3 {
              font-family: '標楷體';
            font-weight: 800;
            text-align:center;
        }

        #resethr {
            margin-bottom: 20px;
            border: 0;
            border-top: 2px solid #f0ad4e;
        }
        .labelemail {
            font-size:16px;
            font-family:'標楷體';
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="orangelogin">
                @using (Html.BeginForm("LoginView", "Account", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <h3 class="h3">會員登入</h3>
                    <hr id="resethr" />
                    <div class="form-group  control-label">
                        @Html.LabelFor(m => m.Account, new { @class = "labelemail" })
                        @Html.EditorFor(m => m.Account, new { htmlAttributes = new { @class = "txtfield", tabindex = "1" } })
                        @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  control-label">
                        @Html.LabelFor(m => m.Password, new { @class = "labelemail" })
                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "txtfield", tabindex = "1" } })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label class="labelemail" for="Check">
                            <input type="checkbox" name="Check" id="Check" value="Yes" />記住我
                        </label>
                    </div>
                       @Html.Raw(ViewBag.Error)
                    <div class="form-group">
                        <div class="left">
                            <input id="Login" type="submit" class="btn btn-success" value="登入" />
                            <span id="stateshow"></span>                          
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h4>還在等什麼？</h4>
                <p>趕快登入會員與我們一同登上訂餐的列車吧!</p>
            </div>
            <div class="blog-posts">
                <div class="row">
                    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <div class="post-thumb">
                            <a href="#"><img class="img-responsive" src="~/images/Blog/brunch1.jpg" alt=""></a>
                            <div class="post-meta">
                                <span><i class="fa fa-comments-o"></i> 3 Comments</span><!--可以計算留言數量-->
                                <span><i class="fa fa-heart"></i> 0 Likes</span><!--可以計算多少人喜歡-->
                            </div>
                            <div class="post-icon">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="entry-header">
                            <h3><a href="#">A Little More 早午餐</a></h3>
                            <span class="date">June 26, 2014</span>
                            <span class="cetagory">in <strong>Photography</strong></span>
                        </div>
                        <div class="entry-content">
                            <p>忙碌的早晨後，不想油膩、不想太多負擔，就來一份輕食早午餐吧!</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="post-thumb">
                            <div id="post-carousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#post-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#post-carousel" data-slide-to="1"></li>
                                    <li data-target="#post-carousel" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <a href="#"><img class="img-responsive" src="~/images/Blog/france.jpg" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img class="img-responsive" src="~/images/Blog/france2.jpg" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img class="img-responsive" src="~/images/Blog/france3.jpg" alt=""></a>
                                    </div>
                                </div>
                                <a class="blog-left-control" href="#post-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                <a class="blog-right-control" href="#post-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="post-meta">
                                <span><i class="fa fa-comments-o"></i> 3 Comments</span>
                                <span><i class="fa fa-heart"></i> 0 Likes</span>
                            </div>
                            <div class="post-icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                        </div>
                        <div class="entry-header">
                            <h3><a href="#">Lorem Ipsum Restaurant</a></h3>
                            <span class="date">Feb. 28, 2009</span>
                            <span class="cetagory">in <strong>Photography</strong></span>
                        </div>
                        <div class="entry-content">
                            <p>想擁有評價卻不失美味的法式美食嗎? 快來Lorem Ipsum部落格瞧瞧我們的食物。</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <div class="post-thumb">
                            <a href="#"><img class="img-responsive" src="~/images/Blog/trandition.jpg" alt=""></a>
                            <div class="post-meta">
                                <span><i class="fa fa-comments-o"></i> 3 Comments</span>
                                <span><i class="fa fa-heart"></i> 0 Likes</span>
                            </div>
                            <div class="post-icon">
                                <i class="fa fa-video-camera"></i>
                            </div>
                        </div>
                        <div class="entry-header">
                            <h3><a href="#">饌家油麵</a></h3>
                            <span class="date">December 26, 1987</span>
                            <span class="cetagory">in <strong>Photography</strong></span>
                        </div>
                        <div class="entry-content">
                            <p>承接父親30年的老店，傳承70年代的風味，給您懷念的滋味。</p>
                        </div>
                    </div>
                </div>
                <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <a href="#" class="btn btn-loadmore"><i class="fa fa-repeat"></i>更多部落格</a>
                </div>
            </div>
        </div>
    </div>
</div>

