
@model IEnumerable<FoodDeliveryTemplete.Models.tRestaurant_Foods>
<br />
@*嵌入式@Html.ActionLink("新增產品", "RestaurantIndex", "Restaurant",new { i = 1}, new { @class = "btn btn-info" })*@
@Html.ActionLink("新增產品", "ProductCreateFunction", "Product", new { id = @ViewBag.RestaurantIDIs }, new { @class = "btn btn-info" })
<br />
<br />

@*@Html.ActionLink("新增產品 New", "Create", "tRestaurant_Foods")<br />*@
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(c => c.fFoodName)</td>
            <td>@Html.DisplayNameFor(c => c.tCategory.fCategoryName)</td>
            <td>@Html.DisplayNameFor(c => c.fPrice)</td>
            <td>@Html.DisplayNameFor(c => c.fCost)</td>
            <td>@Html.DisplayNameFor(c => c.fDiscount)</td>
            <td>@Html.DisplayNameFor(c => c.fCookTime)</td>
            <td class="setFoodDescription">@Html.DisplayNameFor(c => c.fFoodDescription)</td>
            <td>@Html.Label("編輯")</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var _Product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(c => _Product.fFoodName)</td>
                <td>@Html.DisplayFor(c => _Product.tCategory.fCategoryName)</td>
                <td>@Html.DisplayFor(c => _Product.fPrice)</td>
                <td>@Html.DisplayFor(c => _Product.fCost)</td>
                <td>@Html.DisplayFor(c => _Product.fDiscount)</td>
                <td>@Html.DisplayFor(c => _Product.fCookTime)</td>
                <td>
                    @*@Html.DisplayFor(c => _Product.fFoodDescription)*@
                    @Html.TextAreaFor(c => _Product.fFoodDescription, 3, 35, new { @class = "textArea" })
                </td>
                <td>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            @Html.ActionLink("編輯", "ProductUpdate", "Product", new { ProductID = _Product.fFoodID }, new { @class = "btn btn-info" })
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            @Html.ActionLink("刪除", "ProductDelete", "Restaurant", new { id = _Product.fFoodID }, new { @class = "btn btn-info" })
                            @*@Html.ActionLink("刪除", "Delete", "tRestaurant_Foods", new { id = _Product.fFoodID }, new { @class = "btn btn-info"})*@
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            @*<p>商品下架</p>*@
                            @Html.ActionLink("下架", "ProductUpdateOff", "Product", new { ProductID = _Product.fFoodID }, new { @class = "btn btn-warning" })
                        </div>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

